#doctorlogin {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-color: aqua; */
  background-image: url(../../assets/bgimg2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#doctorlogin #topdiv {
  width: 100%;
  height: 10vh;
  /* background-color: green; */
}

#doctorlogin #logo {
  height: 100%;
}

#doctorlogin #boxdiv {
  width: 100%;
  height: 90vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#doctorlogin #box {
  width: 40%;
  height: 50vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#doctorlogin button {
  background-color: green;
  color: white;
  padding: 1vh;
  border-radius: 0;
}

#doctorlogin .doctorloginclick {
  text-decoration: none;
  color: blue;
}
