#patientregistration {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-color: aqua; */
  background-image: url(../../assets/bgimg3.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#patientregistration #topdiv {
  width: 100%;
  height: 10vh;
  /* background-color: green; */
}

#patientregistration #logo {
  height: 100%;
}

#patientregistration #boxdiv {
  width: 100%;
  height: 90vh;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#patientregistration #box {
  width: 40%;
  height: 70vh;
  background-color: white;
  display: flex;
  flex-direction: column;
}

#patientregistration form {
  margin: 5%;
}

#patientregistration button {
  background-color: green;
  color: white;
  padding: 1vh;
  border-radius: 0;
}
